<span style="font-size:10em; font-weight:300; color:{{color}};" > {{ value1 }}
</span>
<br>
<span style="font-size:10em; font-weight:300; color:{{color}};" > {{ value2 }}
</span>
<br>
<span style="font-size:10em; font-weight:300; color:{{color}};" > {{ value3 }}
</span>
